[submodule "extern/pybind11"]
	path = extern/pybind11
	url = ../../pybind/pybind11
	branch = stable
[submodule "extern/lrslib"]
	path = extern/lrslib
	url = https://github.com/baskuit/lrslib
[submodule "extern/gambit"]
	path = extern/gambit
	url = https://github.com/baskuit/gambit
[submodule "extern/eigen"]
	path = extern/eigen
	url = https://github.com/libigl/eigen
