[submodule "gambit"]
	path = gambit
	url = https://github.com/baskuit/gambit
[submodule "extern/pybind11"]
	path = extern/pybind11
	url = ../../pybind/pybind11
	branch = stable
[submodule "lrslib"]
	path = lrslib
	url = https://github.com/baskuit/lrslib
